@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #29292f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5e5c64;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5e5c64;
}

.backdrop {
  -webkit-backdrop-filter: blur(75px); /* Add this line first, it fixes blur for Safari*/
  backdrop-filter: blur(75px);
}

.backdropFilter {
  -webkit-backdrop-filter: blur(20px); /* Add this line first, it fixes blur for Safari*/
  backdrop-filter: blur(20px);
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 400;
  src: url('/font/HelveticaNeue/HelveticaNeueRoman.otf') format('woff2');
}
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 500;
  src: url('/font/HelveticaNeue/HelveticaNeueMedium.otf') format('woff2');
}
@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 700;
  src: url('/font/HelveticaNeue/HelveticaNeueHeavy.otf') format('woff2');
}

@font-face {
  font-family: 'HelveticaNeue';
  font-weight: 700;
  src: url('/font/HelveticaNeue/HelveticaNeueBold.otf') format('woff2');
}
