@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #29292f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5e5c64;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5e5c64;
}

.backdrop {
  -webkit-backdrop-filter: blur(75px); /* Add this line first, it fixes blur for Safari*/
  backdrop-filter: blur(75px);
}

.backdropFilter {
  -webkit-backdrop-filter: blur(20px); /* Add this line first, it fixes blur for Safari*/
  backdrop-filter: blur(20px);
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  src: url('/font/HelveticaNeue/HelveticaNeueMedium.ttf') format('woff2');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 500;
  src: url('/font/HelveticaNeue/HelveticaNeueMedium.ttf') format('woff2');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 600;
  src: url('/font/HelveticaNeue/HelveticaNeueMedium.ttf') format('woff2');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 700;
  src: url('/font/HelveticaNeue/HelveticaNeueMedium.ttf') format('woff2');
}

:root {
  --rt-color-white: #fff;
  --rt-color-dark: #222;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 0.9;
  --rt-transition-show-delay: 0.15s;
  --rt-transition-closing-delay: 0.15s;
}

.react-tooltip {
  background-color: #101828 !important  ;
  border-radius: 8px !important;
  display: flex;
}
