.table-custom {
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    width: 8px;
    border-radius: 12px;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
}
